

body
{
    background-color: #f0f0f0ff;
    
    font-family: 'Avenir Light', sans-serif;
  
}
/* Define a imagem como fundo da página */
/* Estilo geral para o corpo */
body {
    margin: 0;
    padding: 0;
    background-image: url('desenho.png'); /* Caminho da imagem */
    background-size: cover; /* A imagem cobre toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    height: 100vh; /* Ocupa toda a altura da tela */
    width: 100%; /* Ocupa toda a largura da tela */
    overflow:inherit
   
    
}

/*barra de navegaçao*/
.NavBar {
    height: 30px;
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #f8f8f8;
    border: 6px  #000000; /* Borda  */
    border-radius: 15px; /* Aumente o valor para bordas mais arredondadas */
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); /* Sombra*/

}

.logo {
    margin-right: 800px; /* Espaçamento entre a logo e a navegação */
    font-size: 20pt;
   
    
}

.navigation a {
    
    line-height: 60px;
    margin-left: 25px;  /* Espaçamento entre os links */
    text-decoration: none; /* Remove o sublinhado */
    color: #333; /* Cor do texto */
    font-size: 15pt;

}

.navigation a:hover {
    color: #2bbe18; /* Cor do texto ao passar o mouse */
}
  
.slogan{
  font-size: 20pt;
  color: #387478;
  text-align: center;
 

}


/*barra de pesquisa*/

.search-container {
    display: flex; /* Usar flexbox para centralizar */
    justify-content: center; /* Centraliza horizontalmente */
    position: center;
    margin-top: 80px;
}

.search-input {
    width: 800px; /* Largura da barra de pesquisa */
    height: 30px;
    padding: 15px; /* Espaçamento interno */
    border: 3px solid #387478; /* Borda */
    background-color: #ffff;
    border-radius: 230px; /* Bordas arredondadas */
    font-size: 14px; /* Tamanho da fonte */
}


/*Alguns trabalhos frreelancer*/
/* Centraliza o contêiner na tela */
.container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-wrap: wrap; /* Permite que os quadrados fiquem em linha */
    height: 100vh; /* Ocupa toda a altura da tela */
}

/* Estilos comuns para todos os quadrados */
.square {
    padding: 3%;
    width: 2%;
    height: 10px;
    margin: 30px; /* Ajusta o espaço entre os quadrados */
  
    background-color: white;
    box-shadow: 1px 9px 8px rgba(1, 1, 1, 0.1);
    border-radius: 15px;
    display: flex; /* Ativa o modelo de flexbox */
    justify-content: space-around; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    text-align: center; /* Centraliza o texto, caso haja mais de uma linha */
   
    
}

.square:hover {
    transform: scale(1.1); /* Aumenta o tamanho */
   
}

/*INFORMACOES DO SITER!Dz*/
.inform{

    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-wrap: wrap; /* Permite que os quadrados fiquem em linha */
    height: 100vh; /* Ocupa toda a altura da tela */
   
}


.inf{
    /*parte do texto*/
  
    margin-top: 0px;
   
    /*Parte do quadrado*/
    padding: 5%;
    width: 7%;
    height: 60px;
    margin:50px; /* Ajusta o espaço entre os quadrados */
    font-size: 8.9pt;
 
    background-color: white;
    box-shadow: 1px 9px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 15px;
  
    border-radius:15px ;
    display: flex; /* Ativa o modelo de flexbox */
    justify-content:center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    text-align:center; /* Centraliza o texto, caso haja mais de uma linha */
}


.pergunta{
   
    color: #E2F1E7;
    font-size: 35pt;
    text-align: center;
   

}

.junte-se{
    background-color: #58888bb0;
    background-size: 1500px;
    background-repeat: no-repeat;
    margin-left: 20px;
    font-size: 40pt;
    padding: 10%;
    width: 76%;
    height: 3%;
    border:90px transparent rgba(206, 236, 216, 0.726);
    border-radius:45px ;
 
}



.omg    {
     
     color:#243642;
}

.bttn{
    text-decoration: none;
    font-size: 30px;
    margin: 50px;
    color: #ffffff;;
    background-color: #387478;
    width: 270px;
    height: 60px;
    border: 3px solid #387478;
    border-radius: 40px;
}

.bttn:hover{
    
    border-color: #ffffff;
    background-color: #ffffff;
    color: #387478;
}

.rodape{
    margin-top: 100px;
    border: 3px solid #387478;
    background-color: #387478;

    text-align: center;
}