body{
   
    font-family: 'Avenir Light', sans-serif;
    align-items: center;
    overflow: hidden;
    background-color: rgb(236, 253, 255);
}

.loginpg{
    margin: 50px  450px 0px 450px;
    width: 450px;
    height: 550px;
    background-color: #73a393ff;
    border-radius: 12%;
    padding: 5%;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.2);

}




.Login{
    /*parte do texto*/
   
   font-size: 30pt;
   text-align: center;
   font-weight: 300;
   color: rgb(255, 255, 255);
   
}


.email{
    margin-top: 30px;
    width: 400px; /* Largura da barra de pesquisa */
    height: 5px;
    padding: 15px; /* Espaçamento interno */
    border: 2px solid white;
    background-color: #ffff;
    border-radius: 20px; /* Bordas arredondadas */
    font-size: 14px;
    
}

.senha{
    margin-top: 30px;
    width: 400px; /* Largura da barra de pesquisa */
    height: 5px;
    padding: 15px; /* Espaçamento interno */
    border: 2px solid white;
    background-color: #ffff;
    border-radius: 20px; /* Bordas arredondadas */
    font-size: 14px;
    
}


.confsenha{
    margin-top: 30px;
    width: 400px; /* Largura da barra de pesquisa */
    height: 5px;
    padding: 15px; /* Espaçamento interno */
    border: 2px solid white;
    background-color: #ffff;
    border-radius: 20px; /* Bordas arredondadas */
    font-size: 14px;
    
}


.entrar{
    font-size: 25px;
    font-weight: 200;
    color: white;
}

.lancer{
    font-size: 20px;
    margin: 50px;
    color: #243642;;
    background-color: #ffffff;
    width: 150px;
    height: 50px;
    border: 3px solid #ffffff;
    border-radius: 30px;

}

.lancer:hover{
    border-color: #243642 ;
    color: #ffffff;
    background-color: #243642;

}

.clint{
    font-size: 20px;
    color: #243642;;
    background-color: #ffffff;
    width: 150px;
    height: 50px;
    border: 3px solid #ffffff;
    border-radius: 30px;
}

.clint:hover{
    border-color: #243642 ;
    color: #ffffff;
    background-color: #243642;

}

.enterl{

    text-align: center;
}

body{
    width: 100%;
    height: 500px; /* Defina a altura desejada */
    background-image: url('loginpage.png'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Ajusta a imagem para cobrir todo o elemento */
    background-position: center; /* Centraliza a imagem */
}

                                                                                 